.search-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.form-container{
  background-color: #ffffff;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* border-radius: 1%; */
  width: 100%;
}

.search-form{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search-form-header{
  background-color: darkcyan;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

h1{
  font-size: larger;
}

.search-form-row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px 20px;
}

.search-form-item{
  margin: 10px;
  width: 100%;
}

.search-form-message{
  position: absolute;
  text-align: center;
  margin: 0px;
  margin-top: -30px;
  height: 10px;
}

label{
  margin-left: 2px;
}

.search-form-item-input{
  border-radius: 2px;
  border: 1px solid lightgray;
  height: 24px;
  width: 100%;
}

.search-form-item-checkbox{
  margin-left: 15px;
}

.search-form-item-select{
  border-radius: 2px;
  border: 1px solid lightgray;
  height: 30px;
  min-width: 150px;
  /* width: 100%; */
}

.search-form-sending{
  width: 250px;
  padding: 9px 40px 10px;
  text-align: center;
  cursor: pointer;
}

.search-form-button{
  border-radius: 2px;
  background-color: #F0F8FF;
  background-color: #4492ac;
  width: 250px;
  margin-top: 3px;
  padding: 10px 40px 10px;
  color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  cursor: pointer;
}

.search-form-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.search-form-error > span {
  padding: 10px;
}

.results{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.result{
  background-color: #ffffff;
  /* border: 1px solid grey; */
  padding: 10px 30px;
  margin: 2px 0;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title > a{
  color: rgb(42, 42, 42);
  font-size: larger;
  font-weight: bold;
}

a:hover{
  color:#477483
}

.abstract{
  color: rgb(113, 113, 113)
}

.page-numbers{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1%;
  width: 100%;
  height: 30px;
}

.page-link{
  color: grey;
  background-color: white;
  border: none;
}

a{
  text-decoration: none;
}

.active {
  font-weight: 700;
  border-bottom: 1px solid grey;
  color: black;
}